<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg bg-dark navbar-dark">
  <div class="container container-nav">
    <a class="navbar-brand" href="#">
      <img src="images/logo_app.webp" alt="logo_app" width="40" class="logo-app">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-menu" id="navbarSupportedContent">
      <!-- Menu -->
      <ul class="navbar-nav mx-auto navbar-menu">
        <li class="nav-item mx-2">
          <a class="nav-link" aria-current="page" href="index.html">HOME</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="work.html">WORK</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="contact.html">CONTACT</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="about.html">ABOUT ME</a>
        </li>
      </ul>
      <!-- Auth -->
      <ul class="navbar-nav navbar-auth">
        <% if (checkRole === 'ADMIN') { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= username %> 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-black" href="/dashboard-admin">Dashboard</a></li>
              <li><a class="dropdown-item text-black" href="/dashboard-admin/user/settings/<%= userUUID %>">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-black" href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } else { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= username %> 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-black" href="/user/settings/<%= userUUID %>">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-black" href="/logout">Logout</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>