<main>
  <section class="section-login position-relative" id="login">
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="section-login-game row justify-content-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white p-3" style="border-radius: 1rem;">
              <div class="text-login text-center my-3">
                <img src="images/logo_app.webp" alt="logo_app" width="80" class="logo-app mb-2">
                <p>Register New User</p>
              </div>
              <form action="/register" method="post" class="form-login">
                <% if (typeof errors != 'undefined') { %>
                  <% errors.forEach(error => { %>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                      <div>
                        <%= error.msg %> 
                      </div>
                    </div>
                  <% }) %>
                <% } %>
                <div class="mb-3">
                  <label for="full_name" class="form-label">Nama Lengkap</label>
                  <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter Your Full Name" required>
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
                </div>
                <div class="d-grid gap-2 mb-3">
                  <button type="submit" class="btn btn-primary btn-md">Register Now</button>
                </div>
              </form>
              <div class="text-register text-center my-3">
                <p class="text-center text-white">Have already an account? <a href="/login"
                  class="fw-bold text-white"><u>Login here</u></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>