<main>
  <section class="section-login position-relative" id="login">
    <div class="container position-absolute top-50 start-50 translate-middle">
      <div class="section-login-game row justify-content-center">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white p-3" style="border-radius: 1rem;">
              <div class="text-login text-center my-0">
                <img src="../../../images/logo_app.webp" alt="logo_app" width="60" class="logo-app mb-2">
                <p>Edit Your Data Profile</p>
              </div>
              <form method="post" action="/user/settings?_method=PUT" class="form-login">
                <input type="hidden" name="id" value="<%= data.id %>">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value="<%= data.biodata.username %>" disabled>
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Email</label>
                  <input type="text" class="form-control" id="username" name="username" value="<%= data.biodata.email %>" disabled>
                </div>
                <div class="mb-3">
                  <label for="full_name" class="form-label">Nama Lengkap</label>
                  <input type="text" class="form-control" id="full_name" name="full_name" value="<%= data.biodata.full_name %>">
                </div>
                <div class="mb-3">
                  <label for="phone_number" class="form-label">No Handphone</label>
                  <input type="text" class="form-control" id="phone_number" name="phone_number" value="<%= data.biodata.phone_number %>">
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label">Alamat</label>
                  <input type="text" class="form-control" id="address" name="address" value="<%= data.biodata.address %>">
                </div>
                <div class="d-grid gap-2 mb-0">
                  <button type="submit" class="btn btn-primary btn-md">Update Data</button>
                </div>
              </form>
              <div class="text-register text-center my-3">
                <p class="mb-0"><a href="/" class="text-white-50 fw-bold" style="text-decoration:none">Kembali Kehalaman Utama</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>